<h1 class="top-name">入会ページ</h1>
  <%# <div class="top-img">
    <%= image_tag 'hawk.jpg' ,class: "top-img__left" %>
  <%# </div> %>

<section class="section">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <i class="fas fa fa-user"></i>
          <%= f.label :name ,class: "filed__title"%><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "email",:placeholder=> "name" ,class: "filed__input"%>
        </div>

        <div class="field">
          <i class="fas fa fa-envelope"></i>
          <%= f.label :email ,class: "filed__title"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder=> "mail",class: "filed__input" %>
        </div>

        <div class="field">
           <i class="fas fa fa-lock"></i>
          <%= f.label :password,class: "filed__title" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",:placeholder=> "password",class: "filed__input" %>
        </div>

        <div class="field">
           <i class="fas fa fa-lock"></i>
          <%= f.label :password_confirmation ,class: "filed__title"%><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",:placeholder=> "password",class: "filed__input" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "filed__btn" %>
        </div>
      <% end %>
  </div>
</section>

  <%# <%= render "devise/shared/links" %>
