
<section class="section">
  <div class="container">
    <div class="form">
      <%= form_with model: @animal do |f| %>

      <div class="field">
        <i class="fab fa fa-battle-net"></i>
        <%= f.label :title, class: "filed__title"%>
        <%= f.text_field :title, class: "filed__input"%>
      </div>

      <div class="field">
        <i class="fas fa fa-shoe-prints"></i>
        <%= f.label :body , class: "filed__title"%>
        <%= f.text_area :body, class: "filed__input"%>
      </div>

      <div class="field">
        <i class="fas fa fa-camera-retro"></i>
        <%= f.label :image, class: "filed__title"%>
        <%= f.attachment_field :image, class: "filed__input"%>
      </div>

      <div class="actions">
        <%= f.submit "更新する",class: "edit-animal"%>
      </div>
      <% end %>
    </div>
  </div>
</section>
