<% if @user.errors.any?%>
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
  <ul>
    <% @user.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @animal do |f| %>

<%= f.label :title%>
<%= f.text_field :title%>

<%= f.label :body%>
<%= f.text_area :body%>

<%= f.label :body%>
<%= f.attachment_field :image%>

<%= f.submit "更新"%>



<% end %>
