<h1 class="top-name">投稿ページ</h1>
<% if @animal.errors.any?%>
  <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
  <ul>
    <% @animal.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<section class="section">
  <div class="container">
    <div class="form">
      <%= form_with model: @animal do |f| %>

      <div class="field">
        <i class="fab fa fa-battle-net"></i>
        <%= f.label :title, class: "filed__title"%>
        <%= f.text_field :title, class: "filed__input"%>
      </div>

      <div class="field">
        <i class="fas fa fa-shoe-prints"></i>
        <%= f.label :body, class: "filed__title"%>
        <%= f.text_area :body, class: "filed__input body"%>
      </div>

      <div class="field">
        <i class="fas fa fa-camera-retro"></i>
        <%= f.label :image, class: "filed__title"%>
        <%= f.attachment_field :image, class: "filed__input"%>
      </div>

      <div class="actions">
        <%= f.submit "投稿する" ,class: "filed__btn"%>
      </div>
      <% end %>
  </div>
 </div>
</section>
