<!DOCTYPE html>
<html>
  <head>
    <title>AnimalsDonation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="header">
    <div class="header__box">
      <div class="logo">
        <%= link_to root_path , class: "logo__link" do %>
          <%= image_tag 'washi-logo.jpg' ,class: "logo__img"%>
          <span class="logo__animal">ANIMALS </span>
          <span class="logo__domination">DOMINATION</span>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="header__login">
          <%= link_to "ユーザー", users_path ,class: "btn__li "%>
          <%= link_to "ログアウト", destroy_user_session_path , method: :delete, class: "btn__li "%>
        </div>
      <% else %>
        <div class="header__login">
          <%= link_to "寄付・入会する", new_user_registration_path , class: "btn__li"%>
          <%= link_to "動物図鑑", users_path ,class: "btn__li"%>
          <%= link_to "ログインする", new_user_session_path ,class: "btn__li"%>
        </div>
      <% end %>
    </div>
  </header>
  <% if flash[:notice]%>
    <div class="notification">
      <p class="notice"><%= notice%></p>
    </div>
  <% end %>

  <% if flash[:alert]%>
    <div class="notification">
      <p class="alert"><%= alert%></p>
    </div>
  <% end %>

    <%= yield %>

  <footer class="footer">@AnimalsDonation  2020</footer>

  </body>
</html>
